# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.ipch
*.db
.vs/SocketChat/v17/DocumentLayout.json
.vs/SocketChat/v17/DocumentLayout.backup.json
.vs/SocketChat/v17/.suo
*.tlog
SocketChatClient/x64/Debug/SocketChatClient.log
SocketChatClient/x64/Debug/SocketChatClientInput.exe.recipe
SocketChatClient/x64/Debug/SocketChatClientInput.ilk
SocketChatClient/x64/Debug/vc143.idb
SocketChatClient/x64/Debug/vc143.pdb
SocketChatClient/x64/Debug/SocketChatClient.log
SocketChatClient/x64/Debug/vc143.idb
SocketChatClient/x64/Debug/vc143.pdb
*.idb
*.pdb
*.ilk
*.log
*.recipe
